html{
    box-sizing: border-box;
  }
  
  *, *:after, *:before{
    box-sizing: inherit;
  }
  *{
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
  }
  .clf::before,
  .clf::after{
    content: ' ';
    display: table;
  }
  .clf::after{
    content: ' ';
    clear: both;
  }
  .inner-container{
    width: 75%;
    margin: 0 auto;
    max-width: 2000px;
  }
  .inner-container2{
    width: 85%;
    margin: 0 auto;
    max-width: 2000px;
  }
  a{
    text-decoration: none;
  }
  @media(max-width:768px) {
    .inner-container2{
      width: 95%;
    }
  }
  /* fonts */
  @font-face{
    font-family: 'navsans';
    src: url(../../img/lsfi/fonts/navigation-sans.ttf);
  }
  @font-face{
    font-family: 'iransans-reg';
    src: url("../../img/lsfi/fonts/irsns.ttf");
  }
  @font-face{
    font-family: 'raleway';
    src: url(../../img/lsfi/fonts/raleway.ttf);
  }
  @font-face{
    font-family: 'rezvan';
    src: url(../../img/lsfi/fonts/Rezvan.ttf);
  }
  @font-face{
    font-family: 'rezvan-reg';
    src: url(../../img/lsfi/fonts/Rezvan-reg.ttf);
  }
  body{
      background-color: #121212;
      overflow-x: hidden;
      transition: all .7s ease;
  }
  @media(max-width:768px) {
    body{
      overflow-x: hidden;
    }
  }
  /* header====== */
  .header{
      position: relative;
  }
  .e-title{
    font-size: 1.8em;
    position: absolute;
    top: 70%; left: 0; right: 0;
    text-align: center;
    font-family: 'raleway';
    font-weight: normal;
    letter-spacing: 1em;
    color: #ffffff;
    cursor: context-menu;
    filter: drop-shadow(0px 0px 2px #000000);
  }
  /* e-title-Queries */
  @media(max-width:1200px) {
    .e-title{
      font-size: 1.6em;
    }
  }
  @media(max-width:1000px) {
    .e-title{
      font-size: 1.4em;
    }
  }
  @media(max-width:1000px) {
    .e-title{
      letter-spacing: .8em;
    }
  }
  @media(max-width:800px) {
    .e-title{
      font-size: 1.2em;
    }
  }
  @media(max-width:650px) {
    .e-title{
      font-size: 1em;
      letter-spacing: .7em;
    }
  }
  @media(max-width:500px) {
    .e-title{
      letter-spacing: .4em;
    }
  }
  @media(max-width:450px) {
    .e-title{
      font-size: .8em;
    }
  }
  .banner-img{
      width: 100%;
      box-shadow: 2px 20px 60px rgba(0, 0, 0, .4);
      z-index: -2;
  }
  button{
      background: transparent;
  }
    /* sidebar-button */
    .sidebar-button{
      width: 1.3em;
      position: absolute;
      top: 7%; left: 10%;
      cursor: pointer;
      transition: all .1s;
    }
    .sidebar-button:hover{
      filter: drop-shadow(0px 0px 1px #D99023);
    }
    /* navigation */
        .navigation{
          display: table;
          position: absolute;
          top: 6.2%; right: 13%;
      }
      .nav-item{
         display: inline-block;
         list-style-type: none;
      }
      .nav-link{
          display: block;
          text-decoration: none;
          color: #ffffff;
          font-size: .74em;
          font-family: 'navsans';
          padding: .4em 2em;
          transition: all .2s linear;
          text-shadow: 2px 2px 4px #000000;
          cursor: pointer;
      }
      /* navigation Queries */
      @media(max-width:1200px) {
        .nav-link{
          font-size: .65em;
        }
      }
      @media(max-width:800px) {
        .nav-link{
          padding: .4em 1.2em;
        }
      }
      @media(max-width:550px) {
        .navigation{
          right: 8%;
        }
        .sidebar-button{
          top: 9%;
        }
      }
      @media(max-width:480px) {
        .nav-link{
          font-size: .55em;
        }
        .sidebar-button{
          top: 10%;
        }
      }
      @media(max-width:400px) {
        .nav-link{
          padding: .4em .8em;
          font-size: .6em;
        }
      }
      .nav-link:hover{
        color: #D99023;
      }
        /* dropdown */
        .arrow{
          font-size: .5em;
        }
        .subnav-menu{
          position: absolute;
          top: 100%;
          padding: 1em .5em;
          list-style-type: none;
          opacity: 0;
          transition: all .3s ease-in-out;
          pointer-events: none;
          text-shadow: 0 0 4px #000000;
          border-radius: 0 0 4px 4px;
        }
        #hoverable:hover .subnav-menu{
          opacity: 1;
          pointer-events: visible;
        }
        .subnav-link{
          text-decoration: none;
          color: #ffffff;
          font-family: 'navsans';
          font-size: .7em;
          text-shadow: 2px 2px 4px #000000;
          display: block;
          padding: .5em 0;
        }
        /* submenu Queries */
        @media(max-width:1000px) {
          .subnav-link{
            font-size: .6em;
          }
        }
        .subnav-link:hover{
          color: #D99023;
        }
        @media(max-width:768px) {
          .subnav-link{
            font-size: .55em;
          }
        }
        @media(max-width:400px) {
          .subnav-link{
            font-size: .5em;
          }
        }
    /* sidebar*/
        .sidebar-container{
          width: 30%; height: 100vh;
          direction: ltr;
          position: absolute;
          top: 0; left: -30%;
          background-color: #1e1e1e;
          padding: 1em .5em;
          font-family: 'raleway';
          overflow-y: scroll;
        }
        .inp{
          width: 100%;
          padding: 1em;
          margin: 1em 0;
          background-color: #252525;
          border: none;
          color: #e6e6e6e6;
        }
        .inp:focus{
          outline: none;
        }
        .inp::placeholder{
          color:#ffffff;
          direction: rtl;
          text-align: right;
          font-family: 'navsans';
          font-size: 1em;
        }
        @media(max-width:768px) {
          .inp::placeholder{
            font-size: .7em;
          }
        }
        .sidebar-menu{
          font-family: 'navsans';
          font-size: .7em;
          text-align: right;
          margin: 0em;
        }
        .sidebar-item{
          list-style-type: none;
        }
        .sidebar-link{
          text-decoration: none;
          color: #ffffff;
          display: block;
          padding: 1.3em 1em;
          transition: all .05s linear;
          margin: .3em 0;
          background-color: #202020;
          text-align: center;
        }
        /* sidebar Queries */
        @media(max-width:1200px){
          .sidebar-link{
            font-size:.981em ;
          }
          .inp{
            padding: .8em;
          }
        }
        @media(max-width:950px) {
          .sidebar-link{
            font-size:.9em;
          }
          .inp{
            padding: .6em;
          }
        }
        @media(max-width:768px) {
          .sidebar-container{
            position: fixed;
            width: 60%;
            left: -60%;
          }
          .side-toggle{
            transform: translate3d(60%,0,0);
            position: fixed;
          }
        }
        .sidebar-link:hover{
          color: #D99023;
          background-color: #1e1e1e;
        }
        @media(min-width:768px) {
          .side-toggle{
            transform: translate3d(30%,0,0);
            position: fixed;
          }
        }
        @media(min-width:1250px) {
          .side-toggle{
            transform: translate3d(20%,0,0);
            position: fixed;
          }
          .sidebar-container{
            width: 20%; left: -20%;
          }
        }
        .side-close{
          display: none;
        }
        @media(max-width:768px) {
          .side-close{
            display: block;
            color: #ffffff;
            cursor: pointer;
            padding: 1em;
            margin: 0 auto;
            font-size: 1em;
          }
          .side-close:focus{outline: none;}
          .side-close:hover{
            color: #D99023;
          }
        }
      /* main section */
        .main{
          margin-top: -4em;
        }
        @media(max-width:768px) {
          .main{
            margin-top: -.7em;
          }
        }
        .main-text{
          background-color: #202020;
          width:69%;
          color: #ffffff;
          float: right;
          padding: 6em;
          font-family: 'navsans';
          font-size: .8em;
          line-height: 2.8em;
          border-radius: 3px;
          box-shadow: 0 0 5px rgba(0,0,0,0.5);
          position: relative;
          z-index: 1;
        }
        /* main-sec Queries */
        @media(max-width:768px){  /* phone-breakpoint */
          .main-text{
            width: 100%;
            padding: 1em;
          }
        }
        @media(max-width:1400px){
          .main-text{
            font-size: .7em;
            padding: 3em;
          }
        }
        @media(max-width:1000px){
          .main-text{
            font-size: .6em;
          }
        }
        @media(max-width:768px){
          .main-text{
            padding: 2.5em;
          }
        }
        @media(max-width:550px){
          .main-text{
            padding: 2em;
          }
        }
        @media(max-width:350px){
          .main-text{
             font-size: .5em;
          }
        }
        .main-contents{
          margin-bottom: 3em;
        }
        .main-detailes{
          width: 30%;
          float: left;
          border-radius: 3px;
        }
        @media(max-width:768px){
          .main-detailes{
            width: 100%;
            margin-top: 2em;
          }
        }
        .cover-container{
          background-color: #202020;
          position: relative;
          border-radius: 3px;
          box-shadow: 0 0 5px rgba(0,0,0,0.5);
          padding: 2em;
        }
        .cover-img{
          display: table;
          width: 100%;
          border-radius: 3px;
          box-shadow: 0 0 9px rgba(0,0,0,0.9);
          position: relative;
          left: 0; right: 0;
          margin: 0 auto;
        }
        @media(max-width:768px) {
          .cover-container{
            padding: 6em;
          }
        }
        @media(max-width:500px) {
          .cover-container{
            padding: 3em;
          }
        }
        .titles{
          color: #D99023;
          font-family: 'rezvan-reg';
          margin-right: 2em;
          text-shadow: 0 0 3px #000000;
          font-size: 1.2em;
        }
        .title{
          font-size: 3.5em;
          color: #e6e6e6;
          text-shadow: 0px 0px 3px #D99023; 
          font-family: 'rezvan';
          filter: drop-shadow(0px 0px 4px #000000);
        }
        @media(max-width:500px){
          .title{
            font-size: 1.3em;
          }
        }
        @media(max-width:1250px){
          .title{
            float: none;
            text-align: center;
          }
        }

        .main-paragraphs>a{
          color: #ffffff;
          font-family: "raleway";
          text-decoration: none;
          font-size: .7em;
          transition: all .1s linear;
        }
        .main-paragraphs>a:hover{color: #D99023;text-decoration: underline;}
      
        /* detail */
        .detail{
          background-color: #202020;
          box-shadow: 0 0 5px rgba(0,0,0,0.5);
          color: #ffffff;
          padding: 0em 2.5em 1.5em;
          margin-top: .8em;
          border-radius: 3px;
        }
        @media(max-width:1200px){
          .detail{
            padding: 0em 2em 1.5em;
            font-size: .9em;
          }
        }
        @media(max-width:1000px){
          .detail{
            font-size: .8em;
          }
        }
        @media(max-width:900px){
          .detail{
            font-size: .7em;
          }
        }
        @media(max-width:768px){
          .detail{
            font-size: 1.1em;
            padding: 0em 6em 1.5em;
          }
        }
        @media(max-width:600px){
          .detail{
            font-size: .9em;
            padding: 0em 3em 2em;
          }
        }
        .labels{
          float: right;
          font-family: 'iransans-reg';
          color: rgba(255,255,255,0.6);
        }
        label a{
        color: rgba(255,255,255,0.6);
        }
        .values{
          float: left;
          text-align: center;
          font-family: 'iransans-reg';
        }
        .labels>label{
          display: block;
          margin: 2.06em 0;
          font-size: 1em;
        }
        .values>div{
          margin: 2.1em 0;
          font-size: 1em;
        }
        .publisher{
          width: 4em;
          outline: 2px solid #D99023;
        }
        .author{
          color: #D99023;
          font-family: 'raleway';
        }
        /* rating-stars */
        .rating-item{
          list-style-type: none;
          display: inline-block;
        }
        .rating-item img{
          width: 1em;
        }
        /* rating-stars */
        .download-button{
          display: block;
          text-shadow: 0 0 20px #000000;
          text-decoration: none;
          color: #ffffff;
          letter-spacing: .1em;
          border: 1px solid #D99023;
          text-align: center;
          font-family: 'raleway';
          background-color: #D99023;
          padding: .8em 0;
          transition: all .3s linear;
          border-radius: 2px;
          letter-spacing: .15em;
        }
        .download-button:hover{
          background-color: transparent;
          color: #D99023;
        }
        /* =============================== */
        /* main-sec-row */
          /* suggestion-box */
          .suggestion-box{
            background-color: #1e1e1e;
            width: 100%;
            margin: 1em 0;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
          }
          .card{
            width: 20%;
            float: right;
            margin:2% 2.5%;
            box-shadow: 0 0 5px rgba(0,0,0,0.7);
            position: relative;
          }
          .card-img{
            width: 100%;
            border-radius: 3px;
            transition: all .2s ease-in;
            filter: brightness(70%);
          }
          .card:hover .card-img{
            filter: brightness(90%);
          }
          .card-link:hover{
            color: #D99023;
          }
          .card-link{
            display: table;
            text-decoration: none;
            color: #ffffff;
            font-size: .65em;
            filter: drop-shadow(0px 0px 2px #000000);
            padding: .2em 2em;
            text-align: center;
            font-family: 'navsans';
            position: absolute;
            transition: all .2s ease-in;
            bottom: 0; right: 0;
            width: 100%;
            background: rgba(0, 0, 0, .4); 
          }
          .card:hover .card-link{
            padding: .9em 2em;
          }
          .fig-cap{
            -webkit-filter: drop-shadow(.5px .5px .5px #D99023);
            filter: drop-shadow(.5px .5px .5px #D99023);
            color: #ffffff;
            font-family: 'raleway';
            letter-spacing: .2em;
            font-size: .8em;
            cursor: context-menu;
            direction: ltr;
            padding-left: 1em;
            position: absolute;
            top: 40%; left: 0; 
          }
          @media(max-width:1200px) {
            .card-link{
              font-size: .6em;
            }
            .fig-cap{
              font-size: .6em;
            }
          }
          @media(max-width:950px) {
            .card-link{
              font-size: .5em;
            }
            .fig-cap{
              font-size: .5em;
            }
          }
          @media(max-width:768px) {
            .card{
              width: 45%;
            }
            .card-link{
              font-size: .7em;
            }
            .fig-cap{
              font-size: .8em;
            }
          }
          @media(max-width:550px) {
            .fig-cap{
              font-size: .6em;
            }
          }
          @media(max-width:450px) {
            .card-link{
              font-size: .55em;
            }
            .fig-cap{
              font-size: .5em;
            }
          }
  /* ======================== */
  /* footer */
footer{
  background-color: #1E1E1E;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.footer-menu{
  list-style-type: none;
  float: right;
  position: relative;
}
.footer-item{
  display: inline-block;
}
.home{
  width: 1.2em;
  position: absolute;
  left: 110%; top: 0; bottom: 0;
  margin: auto 0;
  transition:all .5s linear;
}
@media(max-width:768px) {
  .home{
    left: 80%;
    width: 1em; 
  }
}
@media(max-width:600px) {
  .home{
    left: 85%;
    width: 1em; 
  }
}
@media(max-width:500px) {
  .home{
    left: 90%;
    width: 1em; 
  }
}
@media(max-width:400px) {
  .home{
    left: 95%;
    width: 1em; 
  }
}
.footer-link{
  text-decoration: none;
  color: #ffffff;
  font-family: 'iransans-reg';
  padding: 1em .8em;
  display: block;
  transition:all .15s linear;
}
@media(max-width:768px) {
  .footer-link{
    padding: .7em .8em;
  }
}
@media(max-width:1000px) {
  .footer-link{
    font-size: .9em;
  }
}
@media(max-width:850px) {
  .footer-link{
    font-size: .8em;
  }
}
.footer-link:hover{
  color: #D99023;
}
.mail{
font-size: .8em;
text-decoration: none;
font-family: 'raleway';
color: #ffffff;
float: left;
padding: 1.5em 0;
display: block;
transition: all .2s linear;
}
@media(max-width:768px) {
  .mail{
    padding: 0;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: .5em 0;
    letter-spacing: .2em;
  }
}
.mail:hover{
  color: #D99023;
}
@media(max-width:768px) {
  .footer-figure{
    float: none;
    display: table;
    position: relative;
    right: 0; left: 0;
    margin: 1em auto;
  }

  .footer-menu{
    float: none;
    width: 100%;
    text-align: center;
  }
  .footer-link{
    font-size: .9em;
  }
}
@media(max-width:400px) {
  .footer-link{
    font-size: .8em;
  }
}
@media(max-width:768px) {
  .nav-item:nth-last-child(1) > .nav-link{
    opacity: 0;
    pointer-events: none;
  }
}