html{
    box-sizing: border-box;
  }
  
  *, *:after, *:before{
    box-sizing: inherit;
  }
  *{
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
  }
  .clf::before,
  .clf::after{
    content: ' ';
    display: table;
  }
  .clf::after{
    content: ' ';
    clear: both;
  }
  .inner-container{
    width: 85%;
    margin: 0 auto;
    max-width: 2000px;
  }
  @media(max-width:768px) {
    .inner-container2{
      width: 95%;
    }
  }
  a{
    text-decoration: none;
  }
    /* fonts */
    @font-face{
        font-family: 'navsans';
        src: url(../img/lsfi/fonts/navigation-sans.ttf);
      }
      @font-face{
        font-family: 'iransans-reg';
        src: url("../img/lsfi/fonts/irsns.ttf");
      }
      @font-face{
        font-family: 'raleway';
        src: url(../img/lsfi/fonts/raleway.ttf);
      }
      @font-face{
        font-family: 'rezvan';
        src: url(../img/lsfi/fonts/Rezvan.ttf);
      }
      @font-face{
        font-family: 'rezvan-reg';
        src: url(../img/lsfi/fonts/Rezvan-reg.ttf);
      }
      body{
        background-color: #121212;
        overflow-x: hidden;
        transition: all .7s ease;
    }
    @media(max-width:768px) {
      body{
        overflow-x: hidden;
      }
    }
    /* ================================== */

    /* navigation */
    .navigation{
        display: block;
        background-color: #2A2A2A;
        padding: .75em 3em;
        position: relative;
    }
    .navigation-bar{
        display: table;
        float: right;
    }
    .nav-item{
        display: inline-block;
    }
    .nav-link{
        display: block;
        color: #cccccc;
        font-family: 'iransans-reg';
        font-size: .92em;
        padding: 0 1.4em;
        transition: all .2s linear;
    }
    .nav-link:hover{
        color: #D99023;
    }
    .arrow{
        font-size: .45em;
    }
    .nav-logo{
        width: 1.2em;
        float: right;
        margin-left: 1em;
        opacity: .8;
        margin-top: 1px;
    }
            /* subnavigation */
    .subnav-menu{
        position: absolute;
        top: 100%;
        /* background-color: #2a2a2a; */
        padding: 1em;
        list-style-type: none;
        border-radius: 2px;
        opacity: 0;
        transition: all .2s linear;
        pointer-events: none;
    }
    #hvr:hover .subnav-menu{
        opacity: 1;
        pointer-events: visible;
    }
    .subnav-link{
        color: #cccccc;
        font-family: 'iransans-reg';
        font-size: 1em;
        display: block;
        padding: .2em 0;
        transition: all .2s linear;
    }
    .subnav-link:hover{color: #D99023;}
    /* sidebar-button */
    .sidebar-button{
        float: left;
        width: 1em;
        cursor: pointer;
        margin-top: 5px;
    }
    /* sidebar-container */
    .sidebar-container{
        width: 30%; height: 100vh;
        direction: ltr;
        position: absolute;
        top: 0; left: -30%;
        background-color: #1e1e1e;
        padding: 1em .5em;
        font-family: 'raleway';
        overflow-y: scroll;
      }
      .inp{
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        background-color: #252525;
        border: none;
        color: #e6e6e6e6;
      }
      .inp:focus{
        outline: none;
      }
      .inp::placeholder{
        color:#ffffff;
        direction: rtl;
        text-align: right;
        font-family: 'navsans';
        font-size: 1em;
      }
      @media(max-width:768px) {
        .inp::placeholder{
          font-size: .7em;
        }
      }
      .sidebar-menu{
        font-family: 'navsans';
        font-size: .7em;
        text-align: right;
        margin: 0em;
      }
      .sidebar-item{
        list-style-type: none;
      }
      .sidebar-link{
        text-decoration: none;
        color: #ffffff;
        display: block;
        padding: 1.3em 1em;
        transition: all .05s linear;
        margin: .3em 0;
        background-color: #202020;
        text-align: center;
      }
      /* sidebar Queries */
      @media(max-width:1200px){
        .sidebar-link{
          font-size:.981em ;
        }
        .inp{
          padding: .8em;
        }
      }
      @media(max-width:950px) {
        .sidebar-link{
          font-size:.9em;
        }
        .inp{
          padding: .6em;
        }
      }
      @media(max-width:768px) {
        .sidebar-container{
          position: fixed;
          width: 60%;
          left: -60%;
        }
        .side-toggle{
          transform: translate3d(60%,0,0);
          position: fixed;
        }
      }
      .sidebar-link:hover{
        color: #D99023;
        background-color: #1e1e1e;
      }
      @media(min-width:768px) {
        .side-toggle{
          transform: translate3d(30%,0,0);
          position: fixed;
        }
      }
      @media(min-width:1250px) {
        .side-toggle{
          transform: translate3d(30%,0,0);
          position: fixed;
        }
        .sidebar-container{
          width: 20%; left: -20%;
        }
      }